#contacto{
    background-image: url('../img/fondo-contacto.jpeg');
    gap: 2vw;
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: 15vw auto 10vw;
    .header__contacto {
        grid-area: header;
        .navbar-nav{
            background: linear-gradient(to right,#789a23,#987965 );
        }
        .navbar-light .navbar-nav .nav-link {
            color: #ffffff;
        }
        .navbar-light .navbar-nav .nav-link.active  {
            color: #ffffff;
        }
    }
    .main__contacto {
        grid-area: main;
        display: flex;
        flex-direction: row;
        margin: 2vw;
        gap: 1vw;
        & .formulario__contacto {
            background-image: url('../img/fondo-contacto.jpeg');
            color: #000000;
            border: 0.4vw solid #000000;
            border-radius: 1%;
            & h1{
                margin: 2vw;
                text-align: center;
                text-transform: uppercase;
                text-shadow: 1px 1px 1px #ffffff;
            }
            & .contenedor__datos__personales {
                display: flex;
                flex-direction: column;
                margin-bottom: 1vw;
                margin-left: 1vw;
                .datos__personales {
                    margin: 0.5vw;
                    display: flex;
                    justify-content:space-between;
                    & label {
                        font-weight: bold;
                    }
                    & input {
                        width: 20vw;
                        padding: 0.4vw;
                    }
                }
            }
            & .contenedor__datos__compra {
                margin: 1vw;
                display: flex;
                flex-direction: column;
                gap:1vw;
                .datos__compras {
                    margin: 0.4vw;
                    display: flex;
                    flex-direction: column;
                    & h3 {
                        margin: 0.5vw 0;
                    }
                    & .radio__button {
                        display: flex;
                        gap: 1.5vw;
                        justify-content:flex-start;
                    }
                    .dato__tipologia {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-items: auto;
                        .opciones__tipologias {
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-start;
                            gap: 1vw;
                            padding: 0.2vw;
                        }
                    }
                    .datos__habitaciones{
                        display: flex;
                        flex-direction: column;
                        .opcion__habitacion {
                            display: flex;
                            padding: 0.2vw;
                        }
                    }
                    .provincia {
                        padding: 0.5vw;
                    }        
                }
            }
            .contenedor__datos__libres {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 1vw;
                h3 {
                    padding: 1vw 0;
                    }
            }
            .contenedor__botones {
                margin: 2vw;
                display: flex;
                justify-content: center;
                & input {
                    display: inline-block;
                    margin: 3vw;
                    padding:  1vw 2.5vw;
                    color: #ffffff;
                }
                /* maps */
                $buttom:(
                    send: #98e12a,
                    delete:#973636
                );
                @mixin btn {
                    &:hover {
                        opacity: 50%;
                    }
                    &:visited {
                        color: #808080;
                    }
                }
                .boton__enviar{
                    input {
                        @include btn;
                        background: map-get($map: $buttom, $key: send);
                    } 
                }
                .boton__borrar{
                    input{
                        @include btn;
                        background: map-get($map: $buttom, $key: delete);
                    }
                }
            }
        }
        .imagen__contacto {
            display: flex;
            flex-direction: column;
            gap: 5vw;
            img{
                width: 100%;
                filter: grayscale(70%);
                &:hover {
                    filter: grayscale(0%);
                    cursor: pointer;
                }
            }
        }
    }
}