@media screen and (max-width: 768px) {
    #header {
        display: flex;
        flex-direction: row-reverse;
        .logo__contacto {
            width: 60vw;
            height: 20vw;
            .logo {
                a {
                    img {
                        width: 17vw;
                        height: 10vw;
                    }
                }
            }
        }
        .navbar {
            width: 30vw;
        }
        .navbar-light .navbar-nav .nav-link {
            color: #ffffff;
            font-size: 2vw;
        }
    }
    #footer {
        height: 20vw;
        flex-direction: column;
        justify-content: center;
        .copy {
                p {
                    font-size: 2.2vw;   
                }
            }
        .barra__nav__footer {
            li {
                a{
                    font-size: 2.2vw;
                }
            }
        }
        .contacto__footer {
            gap: 2vw;
            .bi {
                font-size: 4vw;
            }
        }    
    }
    #index {
        grid-template-rows: 35vw 120vw 360vw 35vw;
        gap: 10vw;
        #presentacion__empresa {
            flex-direction: column;
            height: 120vw;
            justify-content: center;
            align-items: center;
            gap: 2vw;
            .container {
                .row {
                    .col{
                        width: 30vw;
                        height: 15vw;
                        p {
                            font-size: 2.5vw;
                        }
                    }
                }
            }
        }
        #index__promociones {
            height: 360vw;
            .index__nuestras__promos {
                height: 360vw;
                gap: 1vw;
                margin: 1vw 1vw;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                .index__promocion {
                    width: 70vw;
                    height: 70vw;
                    border:  0.5vw solid #789a23 ;
                    background-color: #ffffff;
                    border-radius: 5%;
                    overflow: hidden;
                    transition: all 400ms;
                    a {
                        width: 70vw;
                        height: 70vw;
                    }
                    :hover{
                        width: 72vw;
                        height: 72vw;
                        border:0.6vw solid #a62020;
                    }
                    img {
                        width: 100%;
                        transition: all 1s;
                    }
                }
            }
        }
    }
    #contacto {
        grid-template-rows: 20vw 370vw 30vw;
        .main__contacto {
            flex-direction: column;
            .formulario__contacto {
                .contenedor__datos__personales {
                    .datos__personales {
                        input {
                        width: 50vw;
                        margin-left: 4vw;
                        }
                    }
                }
            }   
        }
        .footer__contacto {
            height: 30vw;
        }
    }
    #promociones{
        grid-template-rows: 20vw 650vw 30vw;
        gap: 10vw;
        .seccion__promocion {
            .promo__caracteristicas{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .promo__img{
                    width: 80vw;
                    height: 80vw;
                    img{
                        width: 80vw;
                        height: 80vw;
                    }                    
                }
                .promo__texto{
                    width: 80vw;
                    height: 70vw;
                }
            }
        }
        .footer__promociones {
            height: 30vw;
        } 
    }
    #modelo{
        grid-template-rows: 20vw 460vw 20vw;
        gap: 18vw;
        .menu__modelos {
            h2 {
                font-size: 4.5vw;
            }
            .tipologias {
                flex-direction: column;
                gap: 3vw;
                align-items: center;
                margin: 3vw;
                .imagen__modelos {
                    width: 80vw;
                    height: auto;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                .caracteristicas__modelo {
                    width: 80vw;
                    height: 60vw;
                    h4{
                        font-size: 3vw;
                    }
                    li{
                        font-size: 2.5vw;
                    }
                }
            }
        }
    }
    #nosotros {
        grid-template-rows: 20vw 155vw 90vw 25vw;
        grid-template-columns: 100%;
        gap: 15vw;
        .nuestras__sucursales {
            margin: 2vw;
            .sucursales {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .sucursal__map{
                    width: 80vw;
                    height: 70vw;
                    iframe{
                        width: 55vw;
                        height: 45vw;
                    }
                    h3 {
                        font-size: 3vw;
                    }
                    p {
                        font-size: 2.2vw;
                    }
                }
            }
            .nosotros {
                .sobre__nosotros {
                    p{
                        font-size: 4vw;
                    }
                }
                .video__institucional {
                    & iframe {
                        width: 1000vw;
                        height: 60vw;
                    }
                }
            }
        }
    }
}
/* tamaño celular */
@media screen and (max-width: 425px) {
    #header {
        height: 20vw;
        .logo__contacto {
            .logo {
                img {
                    width: 18vw;
                }
            }
        }
        .contacto__header {
            a {
                .bi {
                    font-size: 4vw;
                    color: black;
                    margin: 0.5vw;
                    &:hover {
                        font-size: 4.2vw;
                        color: black;
                        opacity: 50%;
                    }
                }
            }
        }
        .navbar {
            width: 40vw;
        }
        .navbar-light .navbar-nav .nav-link {
            color: #ffffff;
            font-size: 2.2vw;
        } 
    }
    #footer {
        gap: 1vw;
        height: 30vw;
    }
    #index{
        grid-template-rows: 40vw 130vw 330vw 40vw;
        grid-template-columns: 100%;
        margin: 0;
        #presentacion__empresa {
            height: 130vw;
            align-items:center;
            .titulo__presentacion {
                font-size: 10vw;
            }
        }
        #index__promociones {
            .index__nuestras__promos {
                gap: 10vw;
                height: 330vw;
                .index__promocion {
                    width: 70vw;
                    height: 70vw;
                }
            }
        }
    }
    #contacto {
        grid-template-rows: 20vw 490vw 30vw;
        .main__contacto {
            margin-top: 25vw;
            .formulario__contacto {
                .contenedor__datos__personales {
                    .datos__personales {
                        input {
                            width: 60vw;
                        }
                    }
                }  
            }   
        }
    }
    #promociones {
        grid-template-rows: 30vw 950vw 30vw;
        .seccion__promocion {
            margin-top: 15vw;
            .promo__caracteristicas {
                .promo__texto {
                    height: 140vw;
                }
            }
        }
    }
    #modelo{
        grid-template-rows: 20vw 540vw 20vw;
        gap: 18vw;
        .menu__modelos {
            h2 {
                font-size: 4.5vw;
            }
            .tipologias {
                flex-direction: column;
                gap: 3vw;
                align-items: center;
                margin: 3vw;
                .imagen__modelos {
                    width: 65vw;
                    height: auto;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                .caracteristicas__modelo {
                    width: 65vw;
                    height: 90vw;
                    h4{
                        font-size: 4vw;
                    }
                    li{
                        font-size: 3.2vw;
                    }
                }
            }
        }
    }
    #nosotros {
        grid-template-rows: 20vw 200vw 250vw 35vw;
        gap: 35vw;
        section {
            .nuestras__sucursales {
                h1 {
                    font-size: 10vw;
                }
                .sucursales {
                    .sucursal__map {
                        width: 80vw;
                        height: 130vw;
                        h3 {
                            font-size: 7vw;
                        }
                        p {
                            font-size: 5vw;
                        }
                        iframe {
                            width: 70vw;
                            height: 60vw;
                        }
                    }
                }
            }
            .nosotros {
                .sobre__nosotros {
                    height: 90vw;
                    p {
                        font-size: 3vw;
                        height: 40vw;
                        line-height: 4vw;
                        align-items: center;
                    }
                    .segundo__parrafo {
                        height: 60vw;
                    }
                    span{
                        font-size: 4.5vw;
                    }
                }
                .video__institucional {
                    margin-top: 25vw;
                    iframe {
                        width: 70vw;
                        height: 60vw;
                    }
                }
            }
        }
    }
}