//variables background
$bgprincipal: linear-gradient(to right,#789a23,#987965 );//index
$bgpromociones: linear-gradient(to right,#987965,#ffffff );
$bgmodelos: linear-gradient(to right,#ffffff,#987965 );
$bgnosotros: linear-gradient(to left,#789a23,#ffffff );
$bgmenumodelos: linear-gradient(to buttom,#987965,#789a23 );

//variables responsive
$mobile:481px;
$tablet:768px;

